 body {
        background-color: #FDFDFD;
      }

 .jumbotron {
        background: url(Top-Image3.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
		color: #f8f9fa;
		margin-bottom: 0;
		text-shadow: 0 0 20px #000000;
      }

  .container .jumbotron {
    border-radius: 0 !important;
}

 .navbar { 	margin-top: 0;
 			padding-left: 2%; 
 			justify-content: between;
 		}

 .intro {
 	font-size: 120%;
 	margin-top: 1%;
 	margin-bottom: 1%;

 }

.ph {
	font-size: 120%;
}



 .card-footer {
        background-color: #F6F6F6;

        position: absolute;
	    left: 0;
	    right: 0;
	    width: 100%;

        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 2%;


		text-align: right;
      }
.krh {
		text-align: left;
      }

.icons {
	max-height: 100%;
	text-align: center;
}

	  
 .musicFiles{
		text-align: center;
      }
